<% content_for :body_type do%>
weekindex<% end %>
<div class ="weekbanner">
<%= link_to("All goals", root_path) %> <br>
<%= link_to("Yearly overview", goal_months_path(@master_goal, year:@year)) %>
</div>
<div class ="weekshow">
<hr>
<h1>Monthly Sub-Goals for:</h1>
<ul>
  <% @given_month_sub_goals.each do |given_month_sub_goal| %>
    <li><%=given_month_sub_goal.month_goal_name%></li>
  <% end %>
</ul>
<hr>
</div>
<!-- TODO make sure the < > are going taking user to the next/previous month -->
<%= link_to('<')%>
Month: <%=@month%>
<%= link_to('>')%>
<hr>

<% @weeks_array.each do |week| %>
<div class ="weeklist">

  <h2><%= week[:week_dates] %> (week#: <%= week[:week_num] %>)</h2>

  <% if @weekly_goals.where(week_num: week[:week_num]) != nil %>
    <% @weekly_goals.where(week_num: week[:week_num]).each do |goal| %>
    <%= goal.weekly_goal_name %> <br>
    <% end %>
  <% end %>
  <%= link_to("Create New Weekly Goal", new_goal_month_week_path(@master_goal, @month, week_num:week[:week_num],year:@year)) %>
   

<% end %> 
</div>
