<%= link_to("All goals", root_path) %> <br>
<%= link_to("#{@year} overview", goal_months_path(@master_goal, year:@year)) %>
<hr>
<h1>Monthly Sub-Goals for:</h1>

<%= link_to('<', goal_month_weeks_path(@master_goal,@month,year:@year.to_i-1))%>
  <%=@year%>
<%= link_to('>', goal_month_weeks_path(@master_goal,@month,year:@year.to_i+1))%>
<br>
<%= link_to('<', goal_month_weeks_path(@master_goal, @previous_month, year:@year))%>
  <%=Date::MONTHNAMES[@month]%>
<%= link_to('>', goal_month_weeks_path(@master_goal, @next_month, year:@year))%>
<hr>

<ul>
  <% @given_month_sub_goals.each do |given_month_sub_goal| %>
    <li><%=given_month_sub_goal.month_goal_name%></li>
  <% end %>
</ul>
<hr>


<% @weeks_array.each do |week| %>
  <h3><%= link_to("#{week[:week_dates]} (week#: #{week[:week_num]})", goal_month_week_days_path(@master_goal,week[:month],week[:week_num],year:week[:year]))%></h3>
  <% if @month_week_goals.where(week_num: week[:week_num], year: week[:year]) != nil %>
    <% @month_week_goals.where(week_num: week[:week_num], year: week[:year]).each do |goal| %>
    <%= goal.weekly_goal_name %> <br>
    <% end %>
  <% end %>
  <%= link_to("Create New Weekly Goal", new_goal_month_week_path(@master_goal, week[:month], week_num:week[:week_num],year:week[:year])) %>
  <hr>
<% end %>
