<% content_for :body_type do%>
goalsindex<% end %>

<div class="creategoal"><%= link_to "Create New Goal", new_goal_path, class: "btn btn-primary" %>
</div>

<div class="goallist">
<h1>Your Current Goals:</h1>
<% @goals.each do |goal| %>
  <h3><%= goal.name %></h3>
  <%= goal.description %> <br>
  <%= link_to "Edit a Goal", edit_goal_path(goal.id), class: "btn btn-info"  %>
  <%= link_to "Remove a Goal", goal_path(goal.id), method: 'delete', class: "btn btn-danger" %>
  <hr>
<% end %>
</div>