git<!-- new.html.erb -->

<h3>My new goal</h3>

<%= form_for @goal do |f| %>

<%= label_tag(:name, "Name your Goal!") %>
<%= f.text_field :name %></br>
<%= label_tag(:description, 'Description')%>
<%= f.text_area :description %></br>

<%= f.submit "Create" %>

<%end%>