
<h3>Edit your goal</h3>

<%= form_for @goal do |f| %>

<%= label_tag(:name, "Current goal") %>
<%= f.text_field :name %></br>
<%= label_tag(:description, 'Description')%>
<%= f.text_area :description %></br>

<%= f.submit "Update" %>

<%end%>