<% content_for :body_type do%>
goalsindex<% end %>

<div class="creategoal"><%= link_to " + Create New Goal", new_goal_path, class: "btn btn-primary" %>
</div>

<div class="stickynotes">
<% @goals.each do |goal| %>
<ul class="indexul">
  <li class="indexli" id="goal_<%= goal.id%>">
      <h2 class="stickyheader">Goal: <%= link_to(goal.name, goal_months_path(goal) )%></h2>
      <p class="sticky">Details: <%= goal.description %></p>
      <p class="sticky"><%= link_to "Edit", edit_goal_path(goal.id)%> / <span><%= link_to "Remove", goal_path(goal.id), method: 'delete' %></span></p>

  </li>
</ul>
<% end %>
</div>

